*{
    margin: 0;
}
.work-sans-cmn{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.fon16{
    font-size: 16px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* shared style */
.primary-width, .banner-content{
    max-width: 1140px;
    margin: 0 auto;
}
.dark-1{
    color: #131313;
}
.dark-3{
    color: #727272;
}
.dark-2{
    color: #424242;
}
.font-45{
    font-weight: bold;
    font-size: 2.8rem;
}
.common-btn{
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
}
/*  Shared style end */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-ul{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 35px;
}
.nav-link{
    text-decoration: none;
}

.banner-content{
margin-top: 50px;
}
.banner-brand, .banner-dtls, .div-btn{
    text-align: center;
}
.banner-brand{
    font-weight: bold;
    font-size: 4rem;
}
.banner-dtls{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.banner-img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}
/* header section design complete */
@media screen and (max-width:412px) {
    .navbar-container{
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }
    .banner-content{
        width: 100%;
        margin-top: 20px;
    }
    .banner-brand{
        font-size: 3rem;
    }
}
/* Feature section start */
.feature-container{
    display: flex;
    margin-top: 80px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    margin-left: 130px;
    transform: translateY(30%);
}
.quick-mdm{
    font-weight: 500;
}
.feature-clr{
    color: #FF900E;
}
.content-p{
    color:#727272 ;
    margin-top: 24px;
    margin-bottom: 32px;
}
@media screen and (max-width:412px) {
    .feature-container{
        flex-direction:column-reverse;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }
    .feature-content{
        margin-left: 0px;
        transform: translateY(0);
        width: auto;
        margin-bottom: 20px;
    }
    .content-h,.content-p,.btn-align{
        text-align: center;
    }

}